/* Container Styles */
.container-fluid {
    padding: 3% 15% 3% 15%;
}

/* Nav Bar Styles */
.navbar-nav {
    margin-left: auto;
}

.navbar {
    margin-top: 0.1rem;
    padding-bottom: 4.5rem;
}

/* Title Styles  */
#title {
    background-color: #9A0680;
}

.app-img img {
    width: 60%;
    border-radius: 30px;
    margin-left: 150px;
    transform: rotate(25deg);
}

/* Font Styles  */
.col-lg-6 h1 {
    font-family: 'Montserrat-Black', sans-serif;
    size: 3.5rem;
    line-height: 1.5;
    color: #ffffff;
}

.nav-item a {
    font-family: 'Montserrat-Light', sans-serif;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

.navbar-nav li {
    padding: 0 18px 0 18px;
}


/* Button Styles  */
.col-lg-6 button {
    margin: 20px 10px 0px 0px;
}

.fab {
    margin-right: 10px;
}

/* More App Info Styles */
.more-info {
    padding: 7% 15%;
}

.fas {
    margin-left: 48%;
    padding: 15px 0 15px 0;
    color:  #FFD39A;
}

.fas:hover {
    color: #781C68;
}

.col-lg-4 h5 {
    font-family: 'Montserrat-BOLD', sans-serif;
    text-align: center;
}

.col-lg-4 p {
    font-size: 1rem;
    color: #8f8f8f;
    text-align: center;
}

/* Press Styles */
#press {
    background-color: #FFD39A;
}

/* Carousel Styles */
.carousel {
    width: 800px;
    height: 350px;
}
