/* Container Styles */
.container-fluid {
    padding: 3% 15% 7% 15%;
}

/* Nav Bar Styles */
.navbar-nav {
    margin-left: auto;
}

.navbar {
    margin-top: 0.1rem;
    padding-bottom: 4.5rem;
}

/* Title Styles  */
#title {
    background-color: #398b97;
}

.app-img {
    width: 48%;
    border-radius: 30px;
    position: absolute;
    right: 120px;
}

/* Font Styles  */
.col-lg-6 h1 {
    font-family: 'Montserrat-Black', sans-serif;
    size: 3.5rem;
    line-height: 1.5;
    color: #ffffff;
}

.nav-item a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

.navbar-nav li {
    padding: 0 18px 0 18px;
}


/* Button Styles  */
.col-lg-6 button {
    margin: 20px 10px 0px 0px;
}

.fab {
    margin-right: 10px;
}

/* More App Info Styles */
.more-info {
    padding: 7% 15%;
    background-color: #ffffff;
    position: relative;
}

.fas {
    margin-left: 48%;
    padding: 15px 0 15px 0;
    color:  #f9bc60;
}

.fas:hover {
    color: #6ba8b1;
}

.col-lg-4 h5 {
    font-family: 'Montserrat-Bold', sans-serif;
    text-align: center;
}

p, .list-unstyled li {
    font-size: 1rem;
    color: #8f8f8f;
    text-align: center;
}

/* Testimonial Styles */
#testimonials {
    text-align: center;
    background-color: #398b97;
    color: #ffffff;
}

#testimonials img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

h2 {
    font-family: 'Montserrat-Bold';
    line-height: 1.5;
    font-size: 3rem;
}

.carousel-item {
    padding: 7% 15%;
}

/* Press Styles */
#press {
    background-color: #f7f7f7;
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
}

#press img {
    width: 15%;
    margin: 20px 20px 50px 50px;
}

/* Pricing Styles */
#pricing {
    padding: 7% 15%;
    text-align: center
}

.btn1 {
    border: 1px solid #398b97;
    color: black;
}

.btn1:hover {
    background-color: #6ba8b1;
    border: 1px solid #6ba8b1;
}

.btn2, .btn3 {
    background-color: #398b97;
    border: 1px solid #398b97;
}

.btn2:hover, .btn3:hover {
    background-color: #6ba8b1;
    border: 1px solid #6ba8b1;
}

.fw-normal {
    font-family: 'Montserrat-Bold';
}

.col {
    padding: 3% 2%;
}

/* CTA Styles */

.col-lg-12 .btn {
    margin-right: 10px;
}

#cta {
    background-color: #398b97;
    text-align: center;
}

#cta h3 {
    font-family: 'Montserrat-Bold', sans-serif;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 2.5rem;
}

/* Footer Styles  */
footer li {
    margin-right: 20px;
}
